<ion-view view-title="Xinwu">
    <ion-nav-buttons side="left">
        <button class="button-icon fa fa-search customHeaderIcon customHeaderIconSmall extraMarginRight" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
	<button ng-if="isadmin" class="button button-float" ng-click="createPosting()">
        <i class="icon ion-plus-round"></i>
    </button>
  <ion-content>
  <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
  </ion-refresher>
        <div collection-repeat="post in news | orderBy:'-date'">
            <div class="item card-item">
                <div  class="card stable-bg ink ink-dark">
                    <div class="item item-avatar item-text-wrap">
                        <span class="avatar"><img src="data:image/jpeg;base64,{{ post.photo }}"></img></span>
                        <strong ng-click="handleSwipeOptions($event, post)">{{ post.title }}</strong><br> 
                        <span>{{ post.note }}</span>
                        <a ng-if="isshow" class="image"><img src="data:image/jpeg;base64,{{ post.photo }}"></a>
                        <div class="card-footer text-right">
                            <i class="icon ion-chatbubble positive"></i> {{ post.comments }}
                            <i class="icon ion-heart assertive"></i> {{ post.likes }}
                            <div class="pull-left">
                                <i class="icon ion-clock"></i>{{ post.date| amCalendar:referenceTime:formats }} ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
