<ion-view view-title="Xinwu">
	<button ng-if="isadmin" class="button button-float" ng-click="createPosting()">
        <i class="icon ion-ios-pricetags-outline"></i>
    </button>
  <ion-content>
        <div class="item card-item">
            <div ui-sref="app.news" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Rendy Marojahan</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum, odio lobortis ultricies maximus, turpis risus rhoncus nunc, nec posuere magna nibh sed augue. Vivamus nulla dolor, scelerisque vitae velit ac, tincidunt pharetra elit. Nulla sed luctus massa. Nullam cursus eleifend neque, quis porta libero tincidunt a. Nam mollis nulla diam, eget finibus dui elementum sollicitudin. Curabitur et ultrices erat. Suspendisse quis fringilla dui.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6
                        <i class="icon ion-heart assertive"></i> 23
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> just now
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.news" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/tyrion.jpg');"></span>
                    <strong>Budi Subagyo</strong> belajar kung fu adalah cita-cita saya sejak kecil.
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 12 mins ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.news" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/arya.jpg');"></span>
                    <strong>Rizky Wirawan</strong> berlatih kung fu di tengah hujan salju bersama <strong>Poppy Calvina</strong> ...
                    <a class="image"><img src="img/sansa-snowcastle.png">
                    </a>
                    <a class="image"><img src="img/sansa-snowcastle2.jpg">
                    </a>
                    <a class="image"><img src="img/sansa-snowcastle3.jpg">
                    </a>
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubble positive"></i> 2
                        <i class="icon ion-heart assertive"></i> 4
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 3 hrs ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </ion-content>
</ion-view>
