<ion-view view-title="Video Tutorial">
    <ion-content>
        <div ng-hide="hideValidationMessage" class="cssSlideUp ng-hide">
            <div class="validationDiv">
                <p>
                    {{ validationMessage }}
                </p>
            </div>
        </div>
        <div class="hero slide-up">
        <div class="video-container">
            <iframe src='{{ video }}' frameborder="0" width="560" height="315"></iframe>
        </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <h4>{{ title }}</h4>
        </div>
        <strong class="content padding double-padding-x">{{ typedisplay }}</strong>
        <p class="content padding double-padding-x">{{ note }}</p>

        <div class="list animate-fade-slide-in-right">
            <a ng-repeat="comment in commentars | orderBy:'-date'" class="item item-avatar item-icon-right">
                <img src="data:image/jpeg;base64,{{ comment.photo }}">
                <h2>{{ comment.username }}</h2>
                <p>{{ comment.note }}</p>
            </a>
        </div>
        <div ng-if="login" class="list animate-fade-slide-in-right">
            <a class="item item-avatar item-icon-right">
                <img src="data:image/jpeg;base64,{{ userphoto }}">
                <h2>{{ username }}</h2>
                <textarea placeholder="insert your comments" rows="5" ng-model="postcomment.note" focus-me></textarea>
                <i class="icon ion-ios-chatbubble" ng-click="addcomment(postcomment)"></i>
            </a>
        </div>
    </ion-content>
</ion-view>
