<ion-view view-title="Tips">
    <ion-nav-buttons side="left">
        <button class="button-icon fa fa-search customHeaderIcon customHeaderIconSmall extraMarginRight" ng-click="showFilterBar()"></button>
    </ion-nav-buttons>
    <button ng-if="isadmin" class="button button-float" ng-click="createPosting()">
        <i class="icon ion-plus-round"></i>
    </button>
    <ion-content>
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
    </ion-refresher>
            <div class="list animate-fade-slide-in-right">
                <a class="item item-avatar item-icon-right" ng-repeat="post in news | orderBy:'-date'">
                    <img src="data:image/jpeg;base64,{{ post.photo }}">
                    <h2>{{ post.name }}</h2>
                    <p>{{ post.note }}</p>
                </a>
            </div>
    </ion-content>
</ion-view>
