<ion-view view-title="Tutorial">
	<button ng-if="isadmin" class="button button-float" ng-click="createPosting()">
        <i class="icon ion-plus-round"></i>
    </button>
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
    <ion-refresher pulling-text="Pull to refresh" refreshing-text="Loading..." refreshing-icon="ion-loading-c" pulling-icon="ion-ios7-arrow-thin-down" on-refresh="doRefresh()">
  	</ion-refresher>
        <div class="list half">
            <div class="card card-gallery item item-text-wrap" ng-repeat="post in news | orderBy:'-date'">
                <div class="ink dark-bg">
                    <h2 ng-click="handleSwipeOptions($event, post)">{{ post.title }}</h2>
                    <div class="video-container">
                        <youtube-video video-id="post.video"></youtube-video>
	                </div>
                </div>
                <div class="item tabs tabs-secondary tabs-icon-left">
                    <a class="tab-item stable-bg assertive">
                        <i class="icon ion-heart" ng-click="handleLikesOptions($event, post)"></i>
                        {{ post.likes }}
                    </a>
                    <a class="tab-item stable-bg royal">
                        <i class="icon ion-chatbubbles" ng-click="handleCommentOptions($event, post)"></i>
                        {{ post.comments }}
                    </a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
